<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head (titulo='Automóviles ' + ${estadoInspeccion})">
    <title>El título</title>
</head>
<body>
    <div th:replace="layout :: header">Header</div>

    <h2 th:text="'Automóviles ' + ${estadoInspeccion}" />
    <div th:replace="layout :: flashMessages"></div>
    <div class="lista-informe">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Dominio</th>
                    <th scope="col">Marca</th>
                    <th scope="col">Modelo</th>
                    <th scope="col">Versión</th>
                    <th scope="col">Propietario</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="automovil : ${automoviles}">
                    <th class="align-middle" scope="row" th:text="${automovil.dominio}" />
                    <td class="align-middle" th:text="${automovil.versionAutomovil.modelo.marca.nombre}" />
                    <td class="align-middle" th:text="${automovil.versionAutomovil.modelo.nombre}" />
                    <td class="align-middle" th:text="${automovil.versionAutomovil.nombre}" />
                    <td class="align-middle" th:text="${automovil.propietario.nombres} + ' ' + ${automovil.propietario.apellido}" />
                </tr>
            </tbody>
        </table>
    </div>
    
    <div th:replace="layout :: volver">Volver</div>
    
    <div th:replace="layout :: scripts">Scripts</div>
</body>
</html>