<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head (titulo)"> 
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous" />
    
    <!-- Estilos de CSS propios -->
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
    
    <title th:text="${titulo} + ' - VTV'">Título</title>
</head>
<body>
    <div th:fragment="header">
        <h1>VTV</h1>
    </div>
    
    <div th:fragment="flashMessages">
        <div th:if="${success != null}" class="alert alert-success alert-dismissible fade show">
            <span th:text="${success}" />
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div th:if="${error != null}" class="alert alert-danger alert-dismissible fade show">
            <span th:text="${error}" />
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
    
    <div class="volver" th:fragment="volver">
        <a href="javascript:history.back()">Volver atrás</a>
        <br />
        <a href="index.html" th:href="@{/}">Volver al inicio</a>
    </div>
    
    <div th:fragment="scripts">
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
    </div>
</body>
</html>