<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head (titulo='ABM Propietarios')"> 
    <title>El título</title>
</head>
<body>
    <div th:replace="layout :: header">Header</div>

    <h2>Propietarios</h2>
    <div th:replace="layout :: flashMessages"></div>
    <p class="button-agregar">
        <a class="btn btn-success btn-lg" href="add.html" th:href="@{/abm/propietarios/agregar}">Agregar propietario</a>
    </p>
    <div class="lista-abm">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">DNI</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="propietario : ${propietarios}">
                    <th class="align-middle" scope="row" th:text="${propietario.dni}" />
                    <td class="align-middle" th:text="${propietario.nombres}" />
                    <td class="align-middle" th:text="${propietario.apellido}" />
                    <td><a class="btn btn-sm btn-primary" href="edit.html" th:href=@{/abm/propietarios/editar/{id}(id=${propietario.id})}>Editar</a></td>
                    <td><a class="btn btn-sm btn-danger" th:href="@{/abm/propietarios/eliminar/{id}(id=${propietario.id})}" onclick="return confirm('¿Está seguro que quiere eliminar el propietario?')">Eliminar</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <div th:replace="layout :: volver">Volver</div>
    
    <div th:replace="layout :: scripts">Scripts</div>
</body>
</html>